body{
    font-family: Arial, sans-serif;
    margin: 50px;
}

fieldset{
    width: 700px;
    margin: auto;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 20px;
}

legend{
    background: purple;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
}

input{
    width: 250px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]{
    background: purple;
    color: white;
}

button[type="reset"]{
    background: lightgray;
}